:root {
  --background-gray: #282c34;
  --darker-gray: #161816;
}

html {
  background-color: var(--background-gray);
}

p {
  color: rgb(124, 124, 124);
}

.App {
  background-color: var(--background-gray);
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 4vh;
  margin-left: 10px;
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inline > h2 {
  margin-left: 10px;
}


.App-link {
  color: #61dafb;
}

/* search bar */
.search-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.search-bar input {
  border-radius: 20px;
  width: 100%;
  background-color: #ffffff88;
}

.search-bar input:hover{
  box-shadow: 0 0 15px cyan, 0 0 0 5px #ffffffeb;
}

.search-bar input:focus {
  box-shadow: 0 0 40px cyan, 0 0 0 5px #ffffffeb;
}

.search-bar button {
  background-color: transparent;
  scale: 1.1;
  border: none;
  margin-left: 20px;
}

.search-bar button:hover{
  box-shadow: 0 0 40px cyan, 0 0 0 5px #ffffffeb;
}

.search-bar button:focus {
  box-shadow: 0 0 40px cyan, 0 0 0 5px #ffffffeb;
}

.search-bar svg {
  color: cyan;
}

/* Main Content area left */
/* .border-check {
  border: 2px solid white;
} */

.iframe-area {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-area iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

/* footer */
footer {
  margin-top: 10%;
}